@charset 'UTF-8';


/*
 * innocent.css: a simple style for gochaism [WIP]
 * written by gocha, feel free to use :)
 */


/**
 * initialize
 */
* {
  margin: 0;
  padding: 0;
}


/**
 * page
 */
html {
  color: #333333;
  line-height: 1.4;
  font-family: Meiryo, 'ヒラギノ角ゴ Pro W3', sans-serif;
  font-size: 94%;
  background: #eeeeee url('img/stripe-white.png');
}

body {
  margin-left: 4%;
  margin-right: 10%;
  padding: 0.8em;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #bbbbbb;
  background: #ffffff;
}


/**
 * section level 1
 */
h1 {
  margin-bottom: 1em;
  padding-bottom: 0.2em;
  font-size: 180%;
  font-weight: normal;
  border-bottom: 1px dashed #bbbbbb;
}

body > .content {
  position: relative;
}

#main {
  margin-left: 14em;
}


/**
 * section level 2
 */
#main > .section {
  margin-bottom: 1.5em;
  border: 1px solid #999999;
}

#main h2 {
  padding: 0.1em 0.3em;
  background: #0044aa;
  color: #ffffff;
  font-size: 120%;
  font-weight: normal;
}

#main > .section > .content {
  padding: 0.5em 1.3em 0;
}


/*
 * section level 3
 */
#main h3 {
  padding-left: 0.2em;
  border-left: 0.3em solid #228800;
  color: #000000;
  font-size: 100%;
  font-weight: normal;
}

#main > .section > .content > .section > .content {
  padding-top: 0.5em;
}


/*
 * section level 4-
 */
#main > .section > .content > .section > .content .section {
  margin-left: 1em;
}

#main h4, #main h5, #main h6 {
  font-size: 100%;
  font-weight: bold;
}

#main > .section > .content > .section > .content .content {
  padding-top: 0.5em;
}


/**
 * inline elements
 */
*[href]:link {
  color: #0000cc;
}
*[href]:visited {
  color: #990099;
}

q {
  color: #227700;
  font-style: normal;
  quotes: none;
}
q:before {
  content: '';
}
q:after {
  content: '';
}


/**
 * block elements
 */
p {
  margin-bottom: 0.5em;
}
html[xml\:lang|="ja"] p {
  text-indent: 1em;
}

address {
  text-align: right;
}


/*
 * lists
 */
ol, ul {
  margin-left: 2em;
  margin-bottom: 0.5em;
}

li > ol, li > ul {
  margin-bottom: 0;
}

dl {
  margin-left: 1em;
  margin-bottom: 0.5em;
}

dt {
  color: #880000;
}

dd {
  margin-left: 1em;
}

/**
 * navigation
 */
#navigation {
  margin: 0;
  width: 15em;
  position: absolute;
  top: 0;
  font-size: 80%;
}

#navigation a[href] {
  text-decoration: none;
}

#navigation ul {
  margin: 0 0 0 0.5em;
  padding: 0;
  border: 0;
  list-style-position: inside;
}

#navigation ul li {
  margin: 0;
  padding: 0.2em 0.3em;
  border: 0;
}

#navigation h2 {
  display: none;
}

#navigation > .content > .section {
  margin-bottom: 1em;
  border: 1px solid #aaaaaa;
}

#navigation h3 {
  padding: 0.2em 0.3em;
  background: #228800;
  color: #ffffff;
  font-size: 100%;
  font-weight: normal;
}

#navigation > .content > .section > .content {
  background: #ffffff;
}

#navigation h4 {
  padding: 0.2em 0.3em;
  color: #000000;
  font-weight: normal;
}


/*
 * website name
 */
.site-name {
  color: #0044aa;
}
.site-name:first-letter {
  color: #cc6600;
}


/*
 * feed
 */
*[href] img.feed {
  border: 0;
  vertical-align: middle;
}
